<h1>Admin::Dashboard#show</h1>
<p>Number of <%= link_to "products", admin_products_path %>: <%= @num_of_products %></p>
<p>Number of <%= link_to "categories", admin_categories_path %>: <%= @num_of_categories %></p>
